@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=PT+Sans&display=swap");

* {
    font-family: "Oswald", sans-serif;
    font-family: "PT Sans", sans-serif;
}

.header{
    text-align: center; 
    color: white;
    cursor: default;
    user-select: none;
}

h1{
    font-size: 60px ;
}

h3{
    margin-top: -20px;
    font-size: 35px;
}

body {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1200px;
  height: 600px;
  margin: auto;
  justify-content: space-evenly;
}

.items {
  width: 180px;
  height: 180px;
  background-color: rgb(85, 64, 69);
  color: white;
  margin: 10px;
  box-sizing: border-box;
  font-size: 35px;
  padding: 45px 0;
  text-align: center;

  /* glass morphism */
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

a {
  text-decoration: none;
}

.items:hover {
    background-color: rgba(255, 255, 255, 0.349);
    color: white;
}


a:link {
  color:purple ;
  background-color: transparent;
  text-decoration: none;
}


a:visited {
  color: lavenderblush;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(143, 61, 143);
  background-color: transparent;
  /* text-decoration: underline; */
}

a:active {
  color: lavenderblush;
  background-color: transparent;
  /* text-decoration: underline; */
}
