
.column {
    float:left;
    width: 33.33%;
}
  
/* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;

}

.container{
   margin-left: 14%;
   margin-right: 14%;
}