*{
    margin: 0;
    padding: 0;
}

#header{
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}
p{
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
}

.container{
    height: 100vh;
    width: 800px;
    margin: auto;
    /* border: 1px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hire{
    
    background-color: #a0cf4f;
    width: 400px;
    height: 250px;
    box-sizing: border-box;
    position: relative;
    top: 5%;
    left: 37%;
    margin-top: 15px;
    box-shadow: inset 0px 0px 0px 15px  white;
    border: 1px solid black;
    font-size: 44px;
    outline: 1px solid black;
    
    
}
h3 {
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    margin-top: 10px;
    text-align: center;
    color: white;
}

.lower{
    background-color: #a0cf4f;
    height: 100vh;
    margin-top: 5%;
    z-index: 3;
}