*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

nav{
    background-color: rgb(19, 117, 197);
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav > ul{
    float:right;
    margin-right: 20px;
    list-style: none;
}

nav > ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav > ul li a{
    color: white;
    font-size: 17px;
    padding: 20px 30px;
}

a.active, a:hover{
    background:rgb(9, 64, 109);
    transition: .5s;
    color: white;
}
a:visited{
    color: white;
}

h1{
    margin-left: -15px;
    margin-top: 10px;
}

.container{
    margin: 50px;
    list-style: armenian;
}

.container ul li{
    margin: 5px 5px;
}

footer{
    position: fixed;
    padding: 10px;
    bottom: 0;
    background-color: rgb(19, 117, 197);
    color: white;
    height: 40px;
    width: 100%;
}

progress{
    margin: 5px 0;
}


.next, .prev{
    padding: 10px;
    border: 2px solid black;
    background-color:rgb(19, 117, 197);
    margin-top: 10px;
}